name: publish-to-nuget-org

on:
  workflow_dispatch:

jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    permissions:
      contents: write

    steps:

    - uses: actions/checkout@v4

    - name: GitHub Tag Bump
      id: tag_bump
      uses: anothrNick/github-tag-action@1.71.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        INITIAL_VERSION: 5.1.0
        DEFAULT_BUMP: patch

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: build release
      run: build.bash Configuration=Release

    - name: publish to nuget
      run: publish.bash Configuration=Release ProjectName=${{ github.event.repository.name }} Version=${{ steps.tag_bump.outputs.new_tag }} Address=https://api.nuget.org/v3/index.json ApiKey=${{ secrets.NUGET_API_KEY }}
